@model Geocrest.Web.Mvc.Models.BaseProfile
@{
    ViewBag.Title = BaseApplication.ApplicationTitle + " | My account";
}
<section class="page">
    <div class="container">
        <div class="row text-center register">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 title">
                <h2>Update your account</h2>
            </div>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                @using (Html.BeginForm("update", "account", new { area = "" }, FormMethod.Post, new { @class = "form-horizontal text-left well" }))
                {
                    @Html.AntiForgeryToken()
                    @Forms.TextBox(Html, x => x.UserName, new { @class = "form-control", disabled="disabled" })
                    @Forms.TextBox(Html, x => x.FirstName, new { @class = "form-control" })
                    @Forms.TextBox(Html, x => x.LastName, new { @class = "form-control" })
                    @Forms.TextBox(Html, x => x.Email, new { @class = "form-control" })
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-4">
                            <button type="submit" class="btn btn-primary btn-block">Update</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
